# --- PROJECT ARTIFACTS ---
target/
build/
bin/
out/
DOCS.md
docs/rascunho.README-pt.md
src/main/java/com/racecontrol/api/Principal.java

# --- MAVEN ---
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# --- SPRING BOOT & CONFIGS (SENSITIVE DATA) ---
src/main/resources/application-local.yml
src/main/resources/application-dev.yml
src/main/resources/application-secret.yml

# --- INTELLIJ IDEA ---
.idea/
*.iws
*.iml
*.ipr

# --- VS CODE ---
.vscode/

# --- STS (SPRING TOOL SUITE) ---
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# --- NETBEANS ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- EXCEPTIONS ---
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/